
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
Content/Frank_Slash_Pack/
Content/Free Sounds Pack/
Content/Free_Sounds_Pack/
Content/UI_SFX_Free_Pack/
Content/Free_Fantasy_Music_Pack/
Content/Third_Party_Object/
Content/MetaHumans/


*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.VC.db
*.VC.VC.opendb

*.log
*.tmp

.DS_Store

.vscode/
.idea/

# Visual Studio cache
.vs/
*.ipch
