
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
Content/Frank_Slash_Pack/
Content/Free Sounds Pack/
Content/Free_Sounds_Pack/
Content/UI_SFX_Free_Pack/
Content/Free_Fantasy_Music_Pack/
Content/Third_Party_Object/
Content/MetaHumans/
Content/DrapEffet/
Content/Monster_Pack/
Content/Medieval_Sewer_Dungeon/
Content/IdaFaber/
Content/MWK_Medieval/
Content/HFLizardCreatures/
Content/Arachnid_Boss/
Content/AncientRuins/
Content/Medieval_Town/
Content/SpectraFXBundle/
Content/GothicGUIKit/
Content/__ExternalActors__/
Content/__ExternalObjects__/
Content/GenericNPCAnimPack/
Content/OpenAndCloseAnimationsPack/

*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.VC.db
*.VC.VC.opendb

*.log
*.tmp

.DS_Store

.vscode/
.idea/

# Visual Studio cache
.vs/
*.ipch
